.header{
    background:green ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    width: 25%;
}
.logo > img{
    margin: 0;
    width: 100%;
}
app-nev{
    display: block;
    width: 50%;
}